/* Pseudo-Class Selector (가상클래스 선택자) 의사 클래스 선택자
    셀렉터들보다 더 디테일하고 적은범위를 선택할때 쓰는 셀렉터이다.
    ':'을 사용해서 더 범위를 좁힌다. */

/* 1. first-child 
        콜론앞에있는 요소를 찾은 다음 그 요소의 형제들중 첫번째 자식요소를 선택한다. */
li:first-child {
    color: red;
}

.movie:first-child {
    font-size: 42px;
}
/* 클래스 first-child 사용할때 주의할점: 만약 toy story가 클래스요소를 가지고 있지않은 상태이면 (첫번쨰자식)
    그다음 클래스를 가진 요소가 스타일링 되는게 아니라 바뀌지 않게된다. 이유는 movie요소 부모가 Li이고 li 요소들의 형제를 기준으로 
    세우기때문이다. 그래서 그다음 클래스를 가진애는 첫번째 차일드가 아니기 때문에 바ㅜ끼지 않는다. (~중에서 첫번째가 아님)*/



/* 2. last-child */
span:last-child{
    color: tomato;
}

/* 3. nth-child 
        특정자식요소를 선택해 스타일링한다.
        함수를 사용해서 사용할 수도 있다 2n -> 짝수요소, 2n - 1 -> 홀수요소, odd -> 홀수, even -> 짝수 */
li:nth-child(3){
    color: hotpink;
}

