/* Pseudo-Element Selector (가상 요소 선택자) 
    -> selector::_______
    -> selector:_______ 둘다사용가능 
    구분하기위해 ::를 쓰는게 낫다.

    before, after 
    -> css로 만들어낸 가상의 요소가 적용이된다. content나 다른 요소를 쓰기전까지 눈에 보이지 않음.
*/

/* 01. before
        content를 쓰면 .movie 앞머리에 가상의 element자리에 MOVIE라는 글귀가 적혀진다.
        드래그, 복붙하지 못한다. 꾸밈을 위한 요소라고 생각하는것 */
.movie::before {
    content: '🐶';
    color: indianred;
}

.favorite::before{
    content: '🐙';
    color: blue;
}

/* 03. after */
.movie::after {
    content: '🐶';
}
