/* 단위와 값
MDN에서 <...>로 되어있는 단어는 단위(자료형)을 나타낸다.
<number> : 숫자 정수형태, float...
<length> : 거리값을 나타낸다 상대길이 절대길이

length
1. 상대길이
    a. 글꼴 상대길이 - em, rem...
    b. 뷰포트 백분율 길이 - vw, vh, vim, vmax

2. 절대길이 - px...


a. 글꼴 상대길이
절대길이 -> px, in, pt
절대길이는 모니터 화면에 보여지는 대로 나타난다. 기준점이 있는게 아니고 절대값이 있다. px를 많이 사용한다. 
절대크기는 크롬 설정도구에서 폰트크기를 임의로 설정을 해놔도 절대길이를 css에서 설정해놨다면 변경되지않는다. (접근성 문제 발생)
폰트사이즈 설정할때는 상대크기인 em, rem을 사용하는 것이 좋다. 

상대길이 -> em, rem
상대길이는 기준점에 따라 같이 커지고 작아지는 특성이 있다. 
1em === 부모의 font-size 이다. (상대적으로 작아지고커진다. 부모에의해 변경되어서 정확한값을 인지하기 어렵다.)
1rem === root의 font-size이다. (root는 htmlbody를의미해서 브라우저의 16px를 의미한다. 직관적으로 이해하기 쉽다.)
rem으로 작성하게되면 접근성 문제를 해결할 수 있다. 


b. 뷰포트 백분율 길이
뷰포트란? 웹사이트를 볼수 있는 영역을 나타낸다. 기기마다 다르다. 
vw -> 뷰포트 가로길이
vh -> 뷰포트 세로길이

뷰포트 세로모드일때 100vh가 더 길다. 그래서 더 긴애가 vmax , 작은애는 vmin
뷰포트 가로모들일때 100vw가 더 길다. vw가 vmax, 작은애는 vmin
 

calc(), min(), max()

width: calc(200px - 20%); 여러개의 단위를 섞어서 사용할 수 있다. 사칙연산가능 곱하기나눈기는 숫자로만 가능, 공백을 넣어줘야한다.

width: min(100%, 200px); 두 단위중 작은 단위를 선택해서 적용한다. 

*/

p {
    font-size: 24px;
}

div {

}

/*별도의 설정이 없으면 16px이 기본값이다. */
.parent{
    color:blue;
    /* font-size: 24px; */
    /* font-size: 2em; */
    /* 기본값의 두배로 설정한다. */

    font-size: 2rem;
    /* 기본값 16px의 2배 */
}
.child{
    color:red;
    /* font-size: 1em; */
    /* font-size: 0.5em; */

    font-size: 0.5rem;
    /* 기본값 16px의 0.5배 */
}


/* 이렇게 width값만 주게된다면 웹사이트와 여백이 있는 상자가 만들어진다
    꽉차게 하려면 body여백을 0으로 없애면 된다 */
.container{
    background-color: orange;
    width: 50vw;
    height: 100vh;
}

body{
    margin: 0;
}



.container2{
    background-color: yellow;
    width: 100vmin;
    height: 100vmin;
}